<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jainish.solanki.lasttrial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jainish_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jainish_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lasttrial" >
        <activity
            android:name=".finalActivity"
            android:exported="false" />
        <activity
            android:name=".nextActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>